{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Chat Message</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Chat Message</h1>
    <p><strong>From:</strong> {{ message.author.username }}</p>
    <p><strong>Sent at:</strong> {{ message.sent_at }}</p>
    <div>
        <strong>Message</strong>
        <p>{{ message.content }}</p>
    </div>
    <p><a href="{% url 'access_chat_room' message.room.room_token %}">Back to chat room</a></p>
</body>
</html>
